{% extends "../base.html" %}
{% block title %} | Login{% end %}
{% block body %}
    <section class="u-py-48 u-bg-gray">
      <div class="l-container u-text-center">

        <h1 class="u-mb-32 u-text-uppercase">Login to The Wu Lab Auth Service</h1>

        {% if request.query_arguments.get("next") %}
          <h2 style="color: red; font-style: italic;">You must login first!</h2>
        {% end %}

        {% if auth_error %}
          <h2 style="color: red; font-style: italic;">{{ auth_error }}</h2>
        {% end %}

        <form action="{{ reverse_url("github_auth") }}" method="post" class="c-form">

          <div class="u-mt-32">
            <button type="submit" style="cursor: pointer;">
              <img src="{{ static_url("images/sign_in_with_github.png") }}">
            </button>
          </div>
          {% module xsrf_form_html() %}
        </form>

        <form action="{{ reverse_url("orcid_auth") }}" method="post" class="c-form">

          <div class="u-mt-32">
            <button type="submit" style="cursor: pointer;">
              <img src="{{ static_url("images/sign_in_with_orcid.png") }}">
            </button>
          </div>
          {% module xsrf_form_html() %}
        </form>

      </div><!-- /.l-container -->
    </section>
{% end %}
