###############################################################################
################################Tornado settings###############################
###############################################################################
DEBUG=1

DB_ENGINE=postgresql
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=auth-service-db
DB_USER=auth-service
DB_PASSWORD=auth-service
###############################################################################
##############################PostgreSQL settings##############################
###############################################################################
POSTGRES_DB=auth-service-db
POSTGRES_USER=auth-service
POSTGRES_PASSWORD=auth-service
###############################################################################
#############################Application settings##############################
###############################################################################
AUTH_SERVICE_DOMAIN=localhost:8888

PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEA0U42Hb5HY/D1Q/jjypDDXSaR3ITtMO3Dq89T8my07T3DKXbK
a+xD3cV30fjZIFyaAYRxBe2mdhMpNOk+pOlXqkNOIaMnlW6r5Ozd1M2LBXZs7u/8
VdMjENu0nBHbuMdg2zkoG2bHAJPYZSJSqApAP50ByPws3T0x1LYqR5W1S2jhvqrK
4Cmr5kGuSvcpV9ppDE1ro8/TPHf0IcMVLDg6/pezmLKY55otYRMSp6gXELEI5cMM
gR+CuYuZbrvIuGAnhPr5dJdhHqF0Z9Mt6oSgw1GqCw1ywrkNC9VBExIfSeoVWu5h
K28hIrjlI4SQS/Y8+NuQCJ2UMykYk5iXWy6h+QIDAQABAoIBAGtqujc1iinuZdFG
kJFLDhhmTQFhbuFnhL5OHwURaSFAS0KiZmxQytusFjw6fCQxohAZSnACcSWz27f9
5Fp6LrWA6T42H4B/VdSdA5PNEQXyqyFNJLFfNGXYe66FM8B3Amw/vyeg7YyMU8hD
fywiZqq/B0WAtf2tBD/oZXZrjKlv8qABdZGjELC8mkxkwCkt8ErdlvONNzWdULOT
ARJOYunP3w+SwAzxoKlbKRRZYIKIl9WwONUBZtfyZ74n3pgSDjuxJjKt/Q++pNtS
jCa95dNv6gubIQVyBOlJXyVe91vzBgAd6HGXOYJdT23LSTCTQcTF6nTju4xEn3e+
s1TnqSECgYEA6ZTUfB1Y0GGRRLoe0XsxAq8Vcv1C1X+RIt08CuyDkGEYbQ7+sM5W
ITHfzZfqa7dfcTAhZ8cVJOU3wE8iVPIAkgiSWg/hLznGLaZzPK8+7benShaPLKuc
mUmV9PsSOFdxoTbYBovzTJ03YjVtgWPFpkWILG1zODdl0PA9xPtEd+UCgYEA5WTq
b2+O4T5ZthUq/4paFBRRbM5nCQL3ujqeqSYHd/fDAoby6o1Hx7hvJwvLdF1/HvIc
WYCHAtVG7Srd/oufwq8ew1H8gq7NkkaAcl77/J80sS/eN7c3KlCIFr9u4p3vngZv
KK5fwEsueSYO962f7MEPGx/vs/STjwecMe41eIUCgYEAj33CWsycdsa5OwMrU3ze
SsvL3Wv/1rAbNNO7wuowmE1NeBGyHGNlPdcpqV8dvzZTB3GN0/bU4ml9qkHy0UQp
XYyue20t5JkVSY3rVOhDPD2KI1VgdwylkvVFjc1/D+WIBIVwh/UJbZNXJpmzv7zO
+qnUUZabJXnCrmwnRg8lrJECgYAVNFDfYCaK96J/TFGfMYDGHmKwdhvcH2Qa2NRV
umgyVLq3/xVxTQH3mjrcFyEFbqcTiznHpDPWtTRLNA01PF7WNi3XzDpVMidagB3b
dKBCZ80NG+mkqND2nl8WCzgKxqKhruKTlhrPwaNYG4aCqo//6JCm5zrXHaKONBvi
GazjqQKBgQCW2sKUD05LlKo3bTOWp6Gjib5udFlknkR2NkQO3p9QWyMfMrL8LYS0
TzvMgdFc3Hqx4hpWfctJ9+0Om/AouwdinmHZVeAfS6dkfCYHd50eicUFtQNfvFbF
rG6VmXAqBmNDVgB5Vjx0LU7RicRw+BZtReKUjClnu+TurUV9j33naA==
-----END RSA PRIVATE KEY-----"
PUBLIC_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDRTjYdvkdj8PVD+OPKkMNdJpHchO0w7cOrz1PybLTtPcMpdspr7EPdxXfR+NkgXJoBhHEF7aZ2Eyk06T6k6VeqQ04hoyeVbqvk7N3UzYsFdmzu7/xV0yMQ27ScEdu4x2DbOSgbZscAk9hlIlKoCkA/nQHI/CzdPTHUtipHlbVLaOG+qsrgKavmQa5K9ylX2mkMTWujz9M8d/QhwxUsODr+l7OYspjnmi1hExKnqBcQsQjlwwyBH4K5i5luu8i4YCeE+vl0l2EeoXRn0y3qhKDDUaoLDXLCuQ0L1UETEh9J6hVa7mErbyEiuOUjhJBL9jz425AInZQzKRiTmJdbLqH5 qsandbox"
JWT_EXP_IN_MINUTES=20