###############################################################################
################################Tornado settings###############################
###############################################################################
DEBUG=0
COOKIE_SECRET=
COOKIE_EXPIRES_AFTER=15

DB_ENGINE=postgresql
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
###############################################################################
##############################PostgreSQL settings##############################
###############################################################################
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
###############################################################################
##############################Memcached settings###############################
###############################################################################
MEMCACHED_HOSTNAME=memcached
MEMCACHED_PORT_NUMBER=11211
MEMCACHED_CACHE_SIZE=64
MEMCACHED_USERNAME=
MEMCACHED_PASSWORD=
###############################################################################
#############################Application settings##############################
###############################################################################
AUTH_SERVICE_DOMAIN=test.com
JWT_EXP_IN_MINUTES=

PUBLIC_KEY=
PRIVATE_KEY=
###############################################################################
###############################OAuthlib Settings#################################
###############################################################################
OAUTHLIB_INSECURE_TRANSPORT=0
###############################################################################
###############################GITHUB Settings#################################
###############################################################################
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_AUTH_BASE_URL=https://github.com/login/oauth/authorize
GITHUB_TOKEN_URL=https://github.com/login/oauth/access_token
###############################################################################
################################ORCID Settings#################################
###############################################################################
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=
ORCID_AUTH_BASE_URL=https://orcid.org/oauth/authorize
ORCID_TOKEN_URL=https://orcid.org/oauth/token
