###############################################################################
################################Tornado settings###############################
###############################################################################
DEBUG=1

DB_ENGINE=postgresql
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=auth-service-db
DB_USER=auth-service
DB_PASSWORD=auth-service
###############################################################################
##############################PostgreSQL settings##############################
###############################################################################
POSTGRES_DB=auth-service-db
POSTGRES_USER=auth-service
POSTGRES_PASSWORD=auth-service
