###############################################################################
################################Tornado settings###############################
###############################################################################
DEBUG=1
COOKIE_SECRET=Super-Secret-Value
COOKIE_EXPIRES_AFTER=15

DB_ENGINE=postgresql
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=auth-service-db
DB_USER=auth-service
DB_PASSWORD=auth-service
###############################################################################
##############################PostgreSQL settings##############################
###############################################################################
POSTGRES_DB=auth-service-db
POSTGRES_USER=auth-service
POSTGRES_PASSWORD=auth-service
###############################################################################
##############################Memcached settings###############################
###############################################################################
MEMCACHED_HOSTNAME=memcached
MEMCACHED_PORT_NUMBER=11211
MEMCACHED_CACHE_SIZE=64
MEMCACHED_USERNAME=auth-service
MEMCACHED_PASSWORD=auth-service
###############################################################################
#############################Application settings##############################
###############################################################################
AUTH_SERVICE_DOMAIN=localhost:8888
JWT_EXP_IN_MINUTES=20

PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgGtbjVjCLBqdQFGeT1aao6mhWMjd
C75oSOM1CnBDixyjyAbt3f3Tfw/ktLO/MCGwR9bTzs/V02Tj2/3lrkzmBOZRnBMt
3/5VAdYEMbf38pLy7tiLX8FaokJG9LyYWF5LqxuZfISb3LPLcYthajznKbjj0QST
+/PU7B3baTjtPjiBAgMBAAE=
-----END PUBLIC KEY-----"
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIICWQIBAAKBgGtbjVjCLBqdQFGeT1aao6mhWMjdC75oSOM1CnBDixyjyAbt3f3T
fw/ktLO/MCGwR9bTzs/V02Tj2/3lrkzmBOZRnBMt3/5VAdYEMbf38pLy7tiLX8Fa
okJG9LyYWF5LqxuZfISb3LPLcYthajznKbjj0QST+/PU7B3baTjtPjiBAgMBAAEC
gYAKHzilbLFB1R+yUk3CqZPSs36ueYDY8/YjTeXtDcE48wwx8w1iGCW7tuF+rQD5
vCgZziCKoetrcLxWJOiZIXrGqRh7u+d3IAnLDyLj2IrFrBMRun+PlRVOGBM2tDSz
DgrTSHAJG3kU1aHsebiauVw0fqfhYD+sLDTjT9pLEHPXfQJBAKlU1CcBHtaIcTtI
hSBgOI1qwDjvqcCv/iJeP9UqNjrxGqGwyKv8juBFodd8UqkGZOOwpQywwGLbFbKF
48ZSkqsCQQCiTmu25rPDit+WkyXbO8ERbCgAL59s/66v0tHNWwPdmyp4d1vWmFUI
DwfW3N5ahVvrZUVhYfhpckogyLI3P4GDAkAffkx6+KVgpz3QFdvUurCp9KnNrR14
XgM5JyheIBy397HJUtTvz+hO5ASGzHOfRjYrduYrpxAREshFTMuhTihDAj8NUGGF
n2cfo0S0FV4FneE4jKa7XSy2xEKQKbsMHWszwoa5WxEtiVFwV8tM1NFom4fux1/p
nR/DhpyOE+iKn6sCQDpNtDnTB5mxIWLAbImodVNEOKXtp4032S9YVFGWvwuKT8u0
xJU+eAFmRver/gWGvdq6MmPcPfcIo65ADemwl/I=
-----END RSA PRIVATE KEY-----"
###############################################################################
##############################OAuthlib Settings################################
###############################################################################
OAUTHLIB_INSECURE_TRANSPORT=1
###############################################################################
###############################GITHUB Settings#################################
###############################################################################
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_AUTH_BASE_URL=https://github.com/login/oauth/authorize
GITHUB_TOKEN_URL=https://github.com/login/oauth/access_token
###############################################################################
################################ORCID Settings#################################
###############################################################################
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=
ORCID_AUTH_BASE_URL=https://orcid.org/oauth/authorize
ORCID_TOKEN_URL=https://orcid.org/oauth/token
