###############################################################################
################################Tornado settings###############################
###############################################################################
DEBUG=0

DB_ENGINE=postgresql
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
###############################################################################
##############################PostgreSQL settings##############################
###############################################################################
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
###############################################################################
#############################Application settings##############################
###############################################################################
AUTH_SERVICE_DOMAIN=test.com

PRIVATE_KEY=
PUBLIC_KEY=
