<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Wu Lab | Client Details</title>

  <!-- GOOGLE FONT LATO -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url("css/wu-labs-style.css") }}">

</head>

<body>

  <div class="l-wrapper">
    <section class="u-py-48 u-bg-light-gray">
      <div class="l-container u-text-center">

        <h1 class="u-mb-32 u-text-uppercase">{{ client.name }}</h1>
        <h3>Name: {{ client.name }}</h3>
        <h3>Type: {{ client.type.value }}</h3>
        <h3>Authorized:
            {% if client.authorized %}
            <span style="font-style: italic; font-weight: bolder; color: green;">
                Yes
            </span>
            {% else %}
            <span style="font-style: italic; font-weight: bolder; color: red;">
                No
            </span>
            {% end %}
        </h3>
        <h3>Client ID: {{ client.client_id }}</h3>
        <h3>Client Secret: {{ client.client_secret }}</h3>
        <h3>Created At: {{ client.created_at }}</h3>
        <h3>Updated At: {{ client.updated_at }}</h3>
        <button type="button" class="c-button c-button--sm c-button--outline">
            <a href="{{ reverse_url('client_edit', client.id) }}">Edit</a>
        </button>
        <form action="{{ reverse_url('client_deletion', client.id) }}" method="post">
          <button type="submit" class="c-button c-button--sm c-button--outline">Delete</button>
          {% module xsrf_form_html() %}
        </form>

        <hr>

        {% if client.apis %}
        <h2>Client APIs:</h2>
        <div class="c-table-responsive">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for client_api in client.apis %}
                <tr>
                  <td>
                    <a href="{{ reverse_url('api_detail', client_api.api.id) }}">
                      {{ client_api.api.name }}
                    </a>
                  </td>
                  <td>{{ client_api.api.identifier }}</td>
                  <td>{{ client_api.api.description }}</td>
                  <td>{{ client_api.api.created_at }}</td>
                  <td>{{ client_api.api.updated_at }}</td>
                  <td><a href="{{ reverse_url('api_edit', client_api.api.id) }}" class="c-button c-button--sm c-button--outline">Edit</a></td>
                  <td>
                    <form action="{{ reverse_url('api_deletion', client_api.api.id) }}" method="post">
                      <button type="submit" class="c-button c-button--sm c-button--outline">Delete</button>
                      {% module xsrf_form_html() %}
                    </form>
                  </td>
                </tr>
              {% end %}
            </tbody>
          </table>
        </div>

        {% else %}
        <p class="c-lead">No APIs were linked. Please link some APIs first!</p>
        {% end %}
        <div class="u-mt-32">
          <a href="{{ reverse_url('client_edit', client.id) }}" class="c-button c-button--big">Link an existing API</a>
          <p class="u-text-gray u-mt-16"><strong>Note: </strong> All times are in UTC timezone.</p>
        </div>

      </div><!-- /.l-container -->
    </section>
  </div>

</body>

</html>