{% extends "../../base.html" %}
{% block title %} | Add Client{% end %}
{% block body %}
    <section class="u-py-48 u-bg-gray l-viewport-center">
      <div class="l-container u-text-center">

        <div class="u-mb-32">
          <h1 class="u-text-uppercase">Add Client</h1>
          <p>or go back to <a href="{{ reverse_url('client_list') }}">Clients list</a></p>
        </div>

        <div>
          {%
            module Template(
              "auth/form.html", result=result, form=form, action="Add Client"
            )
          %}          
        </div>

      </div><!-- /.l-container -->
    </section>
{% end %}
