/*=========================================
| CSS VARIABLES
=========================================*/

:root {
  --accent-color-1: #23b1ec;
  --accent-color-1-light: #49beef;
  --accent-color-2: #80bb2d;
  --border-color: #ddd;
  --bg-gray: #f7f7f7;
  --bg-light-gray: #fafafa;
  --sans-serif-stack: 'Lato', Arial, Helvetica, sans-serif;
  --text-color-black: #3b3b3b;
  --text-color-gray: #acacac;
  --text-color-white: rgba(255, 255, 255, .75);
}

/*=========================================
| BASE AND RESET CSS
=========================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: var(--text-color-black);
  font: normal 400 1.4rem/1.65 var(--sans-serif-stack);
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, blockquote, form {
  margin: 0;
}

a {
  color: var(--accent-color-1);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

button:focus,
a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/*=========================================
| TYPOGRAPHY
=========================================*/

h1 {
  font: normal 300 4rem/1.3 var(--sans-serif-stack);
}

.c-lead {
  font: normal 400 2.2rem/1.4 var(--sans-serif-stack);
}

h4 {
  font: normal 700 1.9rem/1.5 var(--sans-serif-stack);
}

/*=========================================
| LAYOUT CSS
=========================================*/

.l-container {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 41.4rem;
  width: 100%;
}

/*=========================================
| BUTTON CSS
=========================================*/

.c-button {
  align-items: center;
  border: 0;
  background-color: var(--accent-color-1);
  border: .2rem solid var(--accent-color-1);
  /* box-shadow: inset 0 0 0 .3rem var(--accent-color-1); */
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--sans-serif-stack);
  font-size: 1.2rem;
  font-weight: bold;
  height: 4rem;
  justify-content: center;
  line-height: 1;
  min-width: 15rem;
  padding: 0 2rem;
  text-decoration: none;
  transition: .2s;
  text-transform: uppercase;
}

.c-button:hover,
.c-button:focus {
  text-decoration: none;
  background-color: var(--accent-color-1-light);
  border-color: var(--accent-color-1-light);
}

.c-button--lg {
  border-radius: 2.5rem;
  font-size: 1.4rem;
  height: 5rem;
  min-width: 17.5rem;
  padding: 0 3rem;
}

.c-button--big {
  border-radius: calc(5.5rem / 2);
  font-size: 1.4rem;
  height: 5.5rem;
  min-width: 20rem;
  padding: 0 3rem;
}

.c-button--sm {
  border-radius: 1.3rem;
  font-size: 1.2rem;
  text-transform: none;
  height: 2.6rem;
  min-width: 6rem;
  padding: 0 1rem;
}

.c-button--outline {
  background-color: transparent;
  color: var(--accent-color-1);
}

.c-button--outline:hover,
.c-button--outline:focus {
  /* color: #fff; */
  background-color: rgba(35, 177, 236, .1);
  border-color: var(--accent-color-1);
}

/*=========================================
| TABLE CSS
=========================================*/

.c-table-responsive {
  border: .1rem solid #ddd;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: -.1rem;
  width: calc(100% + .1rem);
}

th {
  font-weight: 700;
  white-space: nowrap;
}

td {
  font-weight: 400;
}

td,
th {
  border: .1rem solid var(--border-color);
  padding: 1rem;
  text-align: left;
}

td:last-child,
th:last-child {
  border-right: 0;
}

tr {
  background-color: #fff;
}

thead tr,
tbody tr:nth-child(even) {
  background-color: var(--bg-gray);
}

/*=========================================
| FORM CSS
=========================================*/

.c-form {
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: .2rem .4rem 1rem rgba(0, 0, 0, .1);
  display: inline-block;
  padding: 3.2rem 1.6rem;
  width: 100%;
}

.c-form__group:not(:last-child) {
  margin-bottom: 3.2rem;
}

.c-form label {
  color: var(--text-color-gray);
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-align: left;
  text-transform: uppercase;
}

.c-form input,
.c-form select,
.c-form textarea {
  background-color: #fff;
  border: .1rem solid var(--border-color);
  font-family: var(--sans-serif-stack);
  font-size: 1.6rem;
  font-weight: 400;
  height: 4rem;
  padding: .5rem 1rem;
  width: 100%;
}

.c-form textarea {
  min-height: 12rem;
  resize: vertical;
}

.c-form input:focus,
.c-form select:focus,
.c-form textarea:focus {
  border-color: var(--accent-color-1);
}

/*=========================================
| UTILITIES
=========================================*/

/* Spacing */

.u-py-48 {
  padding: 4.8rem 0;
}

.u-py-64 {
  padding: 6.4rem 0;
}

.u-mt-16 {
  margin-top: 1.6rem;
}

.u-mt-32 {
  margin-top: 3.2rem;
}

.u-mt-48 {
  margin-top: 4.8rem;
}

.u-mb-16 {
  margin-bottom: 1.6rem;
}

.u-mb-32 {
  margin-bottom: 3.2rem;
}

.u-my-32 {
  margin: 3.2rem 0;
}

.u-my-48 {
  margin: 4.8rem 0;
}

/* Text Helpers */

.u-text-gray {
  color: var(--text-color-gray);
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text-uppercase {
  text-transform: uppercase;
}

/* Background */

.u-bg-gray {
  background-color: var(--bg-gray);
}

.u-bg-light-gray {
  background-color: var(--bg-light-gray);
}

/*=========================================
| MEDIA QUERY
=========================================*/

@media (min-width: 360px) {
  .c-form {
    padding: 3.2rem;
  }
}

@media (min-width: 414px) {
  .c-form {
    width: 36rem;
  }
}

@media (min-width: 768px) {
  .l-container {
    max-width: 100%;
    width: 736px;
  }
  h1 {
    font-size: 4.7rem;
  }
}

@media (min-width: 1024px) {
  .l-container {
    width: 992px;
  }
}

@media (min-width: 1280px) {
  .l-container {
    width: 1200px;
  }
}